[submodule "ssl-relation-prediction"]
	path = ssl-relation-prediction
	url = https://github.com/facebookresearch/ssl-relation-prediction
[submodule "kge"]
	path = kge
	url = https://github.com/uma-pi1/kge
[submodule "cqd"]
	path = cqd
	url = https://github.com/uclnlp/cqd
